<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5 glitch_text">Classement</h1>
          <p class="glitch_text">
            Gagnez des points en participant aux activités ainsi qu'en devinant chaque jour à qui appartiennent
            les photos publiées sur le site.
          </p>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <img class="img-fluid" src="assets/img/trophy-solid.svg">
        </div>

      </div>
    </div>
  </div>
</header>
<section>
  <div class="container" *ngIf="ownScore">
    <h3>Votre score</h3>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>#{{ownScore.rank}}</td>
        <td>{{ownScore.name}}</td>
        <td class="glitch_text">{{ownScore.score}} points</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <h3>Classement général</h3>
    <table class="table table-striped scoreboard" *ngIf="data.length > 0">
      <tbody>
        <tr *ngFor="let d of data">
          <td>
            <em [className]="d.glitchClasses[0]">#{{d.rank}}</em>
          </td>
          <td [className]="d.glitchClasses[1]">
            {{d.name}}
          </td>
          <td>
            <em [className]="d.glitchClasses[2]">{{d.score}} points</em>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="data.length === 0">Pas de scores à afficher :'(</h3>
  </div>
</section>
