<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5">Page introuvable</h1>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        Malheureusement je pense que vous vous êtes perdu. Je profite que vous soyez là pour vous inviter à voter pour
        la Fraternitech.
      </div>
    </div>
  </div>
</header>
