<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5">Politique de confidentialité</h1>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        Les données collectées sont :
        <ul>
          <li>Votre prénom</li>
          <li>Votre nom</li>
        </ul>
        Ces données sont affichées pour le besoin du classement. Ces données ne sont pas partagées avec un autre site
        que le notre.
      </div>
    </div>
  </div>
</header>
