<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5">Fraternitech est la liste qu'il vous faut élire pour le BDE 2020-2021</h1>
          <a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="#">Voir le
            programme</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container"><img class="img-fluid" src="assets/img/logo.svg"></div>
      </div>
    </div>
  </div>
</header>
<app-allos></app-allos>
<section class="call text-center bg-primary">
  <h1 style="font-size: 70px;">Téléphonez</h1>
  <div class="container">
    <div class="row">
      <div class="col" style="font-family: Catamaran, sans-serif;">
        <h1 style="font-size: 20px;">Dans le centre</h1>
        <h1>07.81.22.44.37</h1>
      </div>
      <div class="col">
        <h2 class="section-heading" style="font-size: 20px;">Vers la fac</h2>
        <h1>07.81.22.44.37</h1>
      </div>
    </div>
  </div>
</section>
<section id="crew" class="cta" style="background-image:url('/assets/img/bg-cta.jpg');">
  <div class="cta-content">
    <div class="container">
      <h2>Découvrez le crew</h2><a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button"
                                   href="#contact">Le trombinoscope</a></div>
  </div>
  <div class="overlay"></div>
</section>
<section class="contact bg-primary">
  <div class="container">
    <h2><span>On&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;les</span></h2>
    <h2><span>&nbsp;nouvelles rencontres</span></h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="list-inline-item social-google-plus"></li>
    </ul>
  </div>
</section>
