<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5 glitch_text">Fraternitech, la liste que vous avec élu BDE 2020-2021</h1>
          <a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="#" [hidden]="true">
            Voir le programme
          </a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container"><img class="img-fluid" src="assets/img/logo.svg"></div>
      </div>
    </div>
  </div>
</header>
<section id="crew" class="cta glitch">
  <div class="glitch__img"></div>
  <div class="glitch__img"></div>
  <div class="glitch__img"></div>
  <div class="glitch__img"></div>
  <div class="glitch__img"></div>

  <div class="cta-content">
    <div class="container">
      <h2>Découvrez le crew</h2>
      <a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" routerLink="trombinoscope">Le trombinoscope</a></div>
  </div>
  <div class="overlay"></div>
</section>
<section class="contact bg-primary">
  <div class="container">
    <h2><span>Rejoignez nous sur&nbsp;</span></h2>
    <h2><span>Facebook et Instagram</span>&nbsp;<i class="fa fa-heart"></i></h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-facebook"><a href="https://www.facebook.com/Fraternitech-Liste-BDE-Montpellier-2020-104064464547221/"><i class="fa fa-facebook"></i></a></li>
      <li class="list-inline-item social-insta"><a href="https://instagram.com/fraternitech_listemtp?igshid=1buslw42cm65r"><i class="fa"></i></a></li>
    </ul>
  </div>
</section>
