<header class="masthead" style="background: url('/assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5">Commander</h1>
          <p>
            Retrouvez ici les partenaires qui vont vous régaler
          </p>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <img class="img-fluid" src="assets/img/eat.svg">
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div [hidden]="true"> <!-- Bockale -->
      <div class="row justify-content-md-center">
        <div class="col">
          <img src="/assets/img/part/bockale.png" style="width: 100px">
        </div>
        <div class="col">
          <h5>Plateau solo</h5>
          <p>
            Demi rack de Ribs, 8 ailes de poulet, 1 frite et 1 boisson.
            <strong>12 euros</strong>
          </p>
        </div>
        <div class="col">
          <h5>Plateau des potos</h5>
          <p>
            1 rack entier, 20 ailes de poulet (2 assaisonnement au choix : BBQ, lemon pepper, Buffalo), deux frites et deux boissons.
            <strong>30 euros</strong>
          </p>
        </div>
        <div class="col">
          <h5>Maxi plateau des potos</h5>
          <p>
            2 racks, 40 ailes de poulet (2 assaisonnement au choix).
            <strong>55 euros</strong>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Ailes de poulet</h5>
          <ul>
            <li>Par 10 : <strong>7 euros</strong> (1 assaisonnement)</li>
            <li>Par 20 : <strong>13 euros</strong> (2 assaisonnement)</li>
            <li>Par 30 : <strong>30 euros</strong> (3 assaisonnement)</li>
          </ul>
        </div>
        <div class="col">
          <h5>Fish and ships</h5>
          <p>
            Panure maison à la bière avec une boisson au choix et sauce cajun.
            <strong>13 euros</strong>
          </p>
        </div>
        <div class="col">
          <h5>Burger</h5>
          <p>
            King blue cheese, Honey Bunny et classic cheese avec frites, sauce cajun et une boisson.
            <strong>13 euros</strong>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div> <!-- Delice Tacos -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/delice_tacos.png" style="width: 100px">
        </div>
        <div class="col">
          <ul>
            <li>Ouvert 11h-21h30 lundi/jeudi/vendredi</li>
            <li>Ouvert 18h-22h dimanche</li>
            <li>Fermé samedi/mardi midi/mercredi soir</li>
          </ul>
        </div>
        <div class="col">
          <p>
            Réduction de 0,5€ sur les menus + boissons offertes si très grosse commande
          </p>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div> <!-- Empanadas -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/empanadas.png" style="width: 100px">
        </div>
        <div class="col">
          <h5>Empanadas</h5>
          <ul>
            <li>Seulement le week-end, que le midi</li>
          </ul>
        </div>
        <div class="col">
          Réduction de 1€ sur le petit menu (2 empanadas et 1 salade) et sur le moyen menu (3 empanadas et 1 salade)
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div> <!-- Grand Slam -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/grand_slam.png" style="width: 100px">
        </div>
        <div class="col">
          <ul>
            <li>Ouvert de 12h à 22h le jeudi et dimanche</li>
            <li>Ouvert de 12h à 23h le vendredi et le samedi</li>
          </ul>
        </div>
        <div class="col">
          <p>Boisson offerte pour l'achat d'un menu</p>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div> <!-- Pizzaiolo -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/pizzaiolo.png" style="width: 100px">
        </div>
        <div class="col">
          <ul>
            <li>Ouvert tous les jours de 19h à 22h</li>
          </ul>
        </div>
        <div class="col">
          <p>
            Boisson offerte pour l'achat d'une pizza
          </p>
        </div>
      </div>
    </div>
    <br>
    <div> <!-- Subway -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/subway.png" style="width: 100px">
        </div>
        <div class="col">
          <ul>
            <li>Ouvert de 11h à 22h30, 7j/7</li>
          </ul>
        </div>
        <div class="col">
          <p>
            Menu SUB15 avec la boisson (en bouteille) et le cookie. <strong>6,60 euros</strong>
          </p>
        </div>
        <div class="col">
          <p>
            Menu SUB30 avec la boisson (en bouteille) et le cookie. <strong>8,60 euros</strong>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div> <!-- Urbun Burger -->
      <div class="row">
        <div class="col">
          <img src="/assets/img/part/urbun_burger.png" style="width: 100px">
        </div>
        <div class="col">
          <ul>
            <li>Ouvert du lundi au vendredi, de 8h30 à 22h30</li>
            <li>Ouvert le dimanche de 18h30 à 22h30</li>
            <li>Fermé le samedi</li>
          </ul>
        </div>
        <div class="col">
          <p>Réduction de 1€ sur tous les menus</p>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col">
        <img src="/assets/img/part/yummy.png" style="width: 100px">
      </div>
      <div class="col">
        <ul>
          <li>Ouvert de 19h15 à 21h15 du lundi au vendredi</li>
          <li>Fermé le week-end</li>
        </ul>
      </div>
      <div class="col">
        <p>Menu Tacos : 1 viande, sauce fromagère maison, frites fraiches et boisson. <strong>8 euros</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Menu salade :
          soit <u>salade VG</u> (salade verte, poivrons, oignons confits, tomates, chèvre, olives noires),
          soit <u>salade parisienne</u> (salade verte, tomates, haricots verts, oignons crus, jambon blanc, cornichon), boisson et frites fraiches.
          <strong>10 euros</strong>
        </p>
      </div>
      <div class="col">
        <p>
          Tacos Yummy : frites fraiches, sauce fromagère maison, blanc de poulet, oignons et poivrons confits et fromage de chèvre.
          <strong>6€ seul</strong> ou <strong>8€50 (avec frites fraiches et boisson)</strong>
        </p>
      </div>
    </div>
  </div>
</section>
